@import '~bootstrap/scss/bootstrap';
body * {
	font-family: 'Open Sans', sans-serif;
}

header{
	display:flex;
	padding: 20px 10px;
	border-bottom: solid 1px rgba(0,0,0,.2);
	margin-bottom: 2px;
}


.logo > img{
	height:45px;
	width:45px;
}

header > .header-links {
	display:flex;
	margin-left:auto;
	align-items:center;
}

header > .header-links * {
	margin: 0 10px;
}
header > .header-links > div {
	color:#ea7363;
}
button
{
	background: #fff;
	border: solid 1px rgba(0,0,0,.2);
	border-radius: 30px;
	padding: 7px 10px;
	cursor:pointer;
	color:#525252;
	font-size:.75em;
}
header > .header-links button:hover {
	background: #ea7363;
	color:#fff;
	border-color:#ea7363;
}
button:focus{
	outline:none;
}
button:hover{

}
nav{
	text-align: center;
	padding:25px 0 5px 0;
	border-bottom: solid 1px rgba(0,0,0,.2);
	margin-bottom: 10px;
  background: #ea7363;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ea7363, #54b0e8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ea7363, #54b0e8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav > h1 {
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-weight:lighter;
}
nav > div{
	display:flex;
  width: 90%;
	margin: 10px auto;
}

nav > div > div >a {
	color: #fff;
	font-size:.9em;
	margin: 0 10px;
}

nav > div > div >a:hover{
	color:#d9d9d9;
	text-decoration:none;
}

#gameBoard,.new-game {
	width: 450px;
	display:flex;
	flex-wrap:wrap;
	margin: 10px auto;

}

.square{
	width: 150px;
	height: 150px;
	text-align: center;
	box-shadow:1px 1px 5px 0px rgba(0, 0, 0, 0.32);
	cursor:pointer;
	font-family: fantasy;
	font-size: 100px;
	color: #ea7363;

}

.square:hover{
	background: #f6f6f6;
}
#landing-page{
	background-image:url("assets/images/bg-landing.jpg");
	min-height:100%;
	width: 100%;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    text-align: center;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.landing-heading,
.signup-forms {
	position:relative;
	color:#fff;
}
#main-content {
	max-width: 600px;
	margin:75px auto 0 auto;
	text-align:center;
}



#resetButton {
 	display:none;
	margin: 15px 0;
	background: #ea7363;
	color:#fff;
	border-color:#ea7363;
}

#resetButton:hover{
	background: #fff;
	color:#ea7363;
}

#welcome-message,#message {
	display:none;
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
    font-size: 25px;
    background: #ea7363;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}
#message {
	display:none;
	font-size: 20px;
}
#welcome-message.failed,
.modal-message,
#message.failed
 {
	background: #d34b4b;
}

.modal-message{
	display:none;
	background: #d34b4b;
    color: #fff;
    text-align: center;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
}
.modal-footer > button {
	background: #ea7363;
	border:none;
}
.modal-footer > button:hover{
	background:#d34430;
}
.cancel-button {
	background: #fff !important;
	color: #ea7363;
	border:solid 1px #d7d7d7 !important;
}
.cancel-button:hover{
	color: #ea7363;
}
 form {
 	display:flex;
 	flex-direction:column;
 }
input {
	padding: 12px 7px;
    border-radius: 5px;
    outline: none;
    border: solid 1px rgba(0,0,0,.1);
    margin: 5px 0;
    font-size: .88em;
}

#register-landing {
  max-width: 350px;
  margin: 20px auto;
}

#signin-link {
  color: #ea7363;
  cursor: pointer;
}


.register-button {
  border-radius: 4px;
  border:none;
  background: #ea7363;
  color:#fff;
  font-size:1.1em;
}


.fail-message {
  background: #ffd4d4;
  padding: 10px;
  color: red;
  text-align: center;
}
